In [12]:
import pandas as pd
import random

In [6]:
data=pd.read_csv(r'D:\MBA BITS Pilani\Python Programming\data.csv')

,Unnamed: 0,publish_date,headline_category,headline_text
0,0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
1,1,20010102,unknown,Fissures in Hurriyat over Pak visit
2,2,20010102,unknown,America's unwanted heading for India?
3,3,20010102,unknown,For bigwigs; it is destination Goa
4,4,20010102,unknown,Extra buses to clear tourist traffic

In [7]:
#Store and print the rows of the column 'headline_category' in a single variable 'category'
data["category"]=data["headline_category"]

In [8]:
data.head()

,Unnamed: 0,publish_date,headline_category,headline_text,category
0,0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...,unknown
1,1,20010102,unknown,Fissures in Hurriyat over Pak visit,unknown
2,2,20010102,unknown,America's unwanted heading for India?,unknown
3,3,20010102,unknown,For bigwigs; it is destination Goa,unknown
4,4,20010102,unknown,Extra buses to clear tourist traffic,unknown

In [9]:
#Store and print the rows of the column 'headline_text' in a single variable 'headlines'
data["headlines"]=data["headline_text"]

In [11]:
#Check the data-type of each column of the dataset.
data.dtypes

Unnamed: 0            int64
publish_date          int64
headline_category    object
headline_text        object
category             object
headlines            object
dtype: object

In [77]:
# Pick a line from the 'headline_text' using a generated random number and store it in variable 'line'.
line=data.loc[random.randint(0,len(data))][{"headlines"}]
line
# Challenge : Do it in a single line of code. (It can be displayed using another line of code.)

headlines    The Learning Curve
Name: 2559, dtype: object

In [66]:
# Convert each letter of the 'line' variable to uppercase.
line_upper=line.str.upper()
line_upper

headlines    NEW FLYOVERS CAN WITHSTAND QUAKES UPTO 8.5 ON ...
Name: 1248, dtype: object

In [34]:
# Convert each letter of the 'line' variable to lowercase.
line_lower=line.str.lower()
line_lower

headlines    cola wars meant to keep demand fizzy
Name: 2950, dtype: object

In [38]:
# Find the length of the string stored in 'line'.
line.str.len()

headlines    36
Name: 2950, dtype: int64

In [42]:
# Capitalize the string store in 'line'.
line_capitalize=line.str.title()
line_capitalize

headlines    Cola Wars Meant To Keep Demand Fizzy
Name: 2950, dtype: object

In [73]:
line.str.title()[0]

'This Community Centre Is A Death Trap'

In [78]:
# Check if the string begins with the word 'The'.
"The" in line.str.title()[0]

True

In [50]:
# Challenge: Find the number of strings that start with the word 'The' in the dataset column 'headline_text'.
for k in data.index:
    if "The" in data["headline_text"][k]:
        print(data["headline_text"][k])
# It may take time if you use a for loop. Try some other approach?

The best music of the year
They are here to help us
These noisy spots are hurting your ears
The string that pulled Stephen Hawking to India
The saga of Usha Stud Farm
The string that pulled Stephen Hawking to India
The string that pulled Stephen Hawking to India
The saga of Usha Stud Farm
The Sphinx can act too
New year hash: They paid Rs 18;000; went hungry
Kamal Haasan: Hey (Thenali) Ram
The Bali beat goes beyond bhangra
Kamal Haasan: Hey (Thenali) Ram
The policemen find a new excuse: Television in slums
The policemen find a new excuse: Television in slums
The Kamasutra girl is real cool
The best things in life
Towards a Theory of Everything - II
The Veggie Abroad
Security bandobast: The one that got away
'Temptation Island' beats 'The Mole'
The court has faith in us: Jagmohan
The sound of Alabina
The life-style disease leads to blindness
The unpredictable calamity
The Learning Curve
The unpredictable calamity
The town that was once Bhuj
The Word Factory
The Kiteman cometh
The town that lay forgotten for 36 hours
The Enchanted Forester
The question that started the Hinduja affair
The sound of Alabina
The sound of Alabina
The Bhuj Quake: FAQs
The Enemy Within
Sikander: The son also rises!
Sikander: The son also rises!
There will be more taxes; says Vajpayee
There will be more taxes; says Vajpayee
The Dalai Lama: A Man With A Mission
The final verdict: It touched 8.1 on Richter
The Ground beneath their feet
The Ground beneath their feet
The well-oiled machinery of civil society
These criminals must get their due
They 'bought' enough gelatin to blow up Karnataka
The Match Factor
The Kachchi Sprint
The Art of Healing
The Real and the Unreal
The other Rajeev
The inimitable Mamata
The Page Three Politician
The art of science
The three Sunitas
The many avataars Subbirami Reddy
Remember The Titans
These young citizens are voicing their concern
The old man in his labyrinth
The Purpose of Our Life is to 'Know'
The killing mines of Dhanbad
Ban on smoking: The Kerala experience
Human Evolution and The Ten Avatars
There's no use shying away from shyness
The Golden Genome
Anupama Verma: The grahan has been wiped off
The Many Benefits Of Daily Prayer
The salsa was superb; and who's your caterer?
The healing touch
Their bamboo music is hard to beat
The city on a school wall
They help women overcome barrier; achieve success
Janasabha: The catalyst between people; departments
The emperor of cricket is dead
The Don misses another century
The Planet's Plight
The Kingdom of God Is Within Each of Us
The Arthashastra
The Buddha Smiles
The Power of One
The man behind the hot seat
De-Islamizing Islam: The Taliban Project
The Lady's not for Turning
The power broker
The restless style guru
The Sonia magic hasn't quite faded
Exposed! Sonia's letter to Jaya on playing a Thehelka trick
The PMO strikes back
The death of a freedom fighter
The Sound of Music
The Learning Curve
The Bingo Brigade
The Comeback Kids
The Ultimate Holy Book of Humanity
The magical world of P C Sorcar
The happiness of a long-distance runner
The censors seem to have lost their scissors
Question Time The appointment of George Verghese
Anil Kapoor: They've heard his Pukar!
The sound of Alabina
The Middle Path
The master blaster as a spin-doctor
The master blaster as a spin-doctor
The flip side of ayurvedic products
Tarun Tejpal: The shock jock
'There's genius in all of us'
The earth mother
The dashing dadima
The devil in Delhiites
The Amish People
The long and short of the growing problem
The long and short of the growing problem
All The Pretty Horses
The candidates are polls apart
The Good Wife
The Cross Symbolises Life & Redemption
The Stray Pixels
These girls talk suspension; not boybands
The Stray Pixels
The Stray Pixels
The inner landscapes
The mind-body
The lady
Where The Tax Axe Falls
The Philosophical Basis of Religion
The Other Abdullah
Azim Premji: The brain behind Wipro's winning streak
The Bushman
Mahesh Manjrekar: The man behind the gimmicks
The road not taken
There's a serial killer on the Net
The Bandh Wagon
Puru Rajkumar: The word is 'mum'!
The Road Not Taken
The Forgotten Scam
Fare Thee Well
The Forgotten Scam
Fare Thee Well

In [52]:
# Extract the first 6 characters of each row of the column 'headline_text' of the dataset.
data["headline_text"].str[0:7]

0       Status
1       Fissure
2       America
3       For big
4       Extra b
         ...
3995    90;000
3996    Another
3997    Another
3998    Petrol
3999    Probe o
Name: headline_text, Length: 4000, dtype: object

In [59]:
# Split the words of the string stored in the 'line' variable and print the first 2 words.
print(line.str.split()[0][0:2])

['Cola', 'wars']

In [79]:
#Challenge: Print all the unique words in the variable 'line'. Hint: Use the 'split' function.
uniqueList=[]
for word in line.str.split()[0]:
    if word not in uniqueList:
        uniqueList.append(word)
        
uniqueList

['The', 'Learning', 'Curve']

In [80]:
#Find the position of the word 'The' in the 'line' variable, if not present then search for any word that 
#you know that is present in that string.
uniqueList.index("The")
#What is printed when the word isn't present in the string? Google why!

0

In [83]:
#Find the number of times the word 'The' occurs in the 'line' variable.
line[0].count("The")

1

In [ ]:
# Print characters from string stored in 'line' variable by skipping each second letter.
# Note: Whitespaces are counted as characters.

In [93]:
# Challenge: Find the word that occurs with the highest frequency in the string stored in the 'line' variable.
hcount=0
hmax=0
for word in line[0].split():
    hcount=line[0].count(word)
    if hcount>hmax:
        hmax=hcount
        maxindex=line[0].index(word)
        
print(line[0].split()[maxindex])
# Print 'None' if all words have the same frequency.

The

In [91]:
for word in line[0].split():
    print(word)

The
Learning
Curve

In [100]:
# Final Challenge: Find the frequency of each character in the string stored in 'line' variable in the form of a dictionary. 
wordDict={}
trackWord=[]
for word in line.str.replace(" ","")[0]:
    if word not in trackWord:
        trackWord.append(word)
        wordDict[word]=0
    if word in trackWord:
        wordDict[word]+=1
print(wordDict)
# No output has been provided to make sure the student tries to solve a problem with no hint. :)

{'T': 1, 'h': 1, 'e': 3, 'L': 1, 'a': 1, 'r': 2, 'n': 2, 'i': 1, 'g': 1, 'C': 1, 'u': 1, 'v': 1}